.app-container .content-container .side-menu .navbar-header .navbar-brand .logo-icon-container{
    width: 100%;
    height: auto;
}
.app-container .content-container .side-menu .navbar-header .navbar-brand img{
    max-width: 200px;
}
.voyager .side-menu .navbar-header {
    background: #fff;
    border-color: #ffffff;
}
.logout-btn .btn{
    padding: 6px;
    background-color: #63a143;
    color: #fff;
}
#adminmenu .navbar-nav:first-child{
    //display: none;
}


.uk-card-body {
    cursor: pointer;
}


#app {
    background-image: url(../img/pattern-issedu.png) !important;
    background-repeat: repeat;
    min-height: calc(100vh)!important;
}

#footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}

.voyager .side-menu.sidebar-inverse,
.app-container.expanded .content-container .side-menu {
    background-image: url(../img/pattern-issedu.png) !important;
    background-repeat: repeat;
    background-color: #68a7db!important;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #212121;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
}

.voyager .side-menu.sidebar-inverse .navbar li>a:hover {
    color: #fff;
    background: #d33550;
}

.app-container .content-container .side-menu .navbar-nav li a .title {
    position: relative;
    top: 0px;
}
.voyager .side-menu.sidebar-inverse .navbar li>a {
    display: flex;
    align-items: center;
}

.voyager .side-menu.sidebar-inverse .navbar li>a {
    color: #ffffff;
}

.voyager .app-footer {
    display: none;
}
.logout-btn .btn{
    margin-top: 0!important;
}

.app-container .content-container .side-menu .navbar-header .navbar-brand{
    padding:5px;
}

.social-media{
    color:#ffffff;
}

.facebook .uk-card-default{
    background-color: #4b69b0;
}
.youtube .uk-card-default{
    background-color:#e83f3b;
}
.linkedin .uk-card-default{
    background-color:#0478b5;   
}

.instagram .uk-card-default{
    background-color:#c6366a;
}

.social-media .uk-card-default .uk-card-title {
    color: #ffffff;
    display: flex;
    align-items: center;
}
.social-media .uk-icon {
    margin-right:5px;
}

.uk-divider-vertical {
    border-left: 1px solid #51d655;
}

/* .card-section-title{
    color: rgb(118, 175, 223);
} */
.camps b{
    color: #63a143!important;
}
.camps .uk-card-default .uk-card-title {
    color: #63a143!important;
    font-size: 1.8rem;
    line-height: 1.5;
}

.side-body > div {
    background-image: none!important;
}

.app-container .content-container .side-menu .navbar-header .navbar-brand img {
    max-width: 193px;
}

.uk-modal-title {
    font-size: 2.2rem;
    line-height: 1.3;
    color: #63a143!important;
    margin-bottom: 15px;
}

.uk-accordion-title {
    font-size: 1.4rem;
    line-height: 1.4;
    color: #ffffff;
    background-color:#63a143;
    padding: 15px;
}

.uk-accordion-title:focus, .uk-accordion-title:hover {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
}

.uk-open > .uk-accordion-title{
    background-color: #7dc856;
}
.uk-close svg{
    width: 20px;
}

.uk-modal-body {
    padding: 45px 45px;
}

.uk-table-responsive tr td:first-child{
    font-weight: 800;;
}
.uk-table-responsive tr td{
    padding-right: 0!important;
    padding-left: 0!important;
}
@media only screen and (max-width: 960px) {
    .app-container .container-fluid{
        padding: 0;
    }
    .app-container .content-container .side-body.padding-top{
        margin:0;
    }
    .uk-card-body {
        padding: 10px 15px;
    }
    
    .uk-divider-vertical {
        height: 25px;
    }
    #footer *+.uk-grid-margin,#footer .uk-grid+.uk-grid,#footer .uk-grid>.uk-grid-margin {
        margin-top: 5px;
    }
    #footer p{
        text-align: center!important;
    }
    .app-container {
        padding-bottom: 80px;
    }
    .uk-table {
        padding:0!important;
        font-size: 14px;
        line-height: 0.8;
    }    
    .camps .uk-card-default .uk-card-title {
        color: #63a143!important;
        font-size: 1.5rem;
        line-height: 1.2;
    }
    
    .app-container .content-container .navbar-top{
        border-bottom: 2px solid #dfdfdf;
    }
    .hamburger.btn-link{
        margin-left: 15px;
    }
    .uk-modal-body {
        padding: 20px 15px;
    }
    .uk-table td {
        padding: 12px 12px;
    }
    .uk-modal-title {
        font-size: 1.6rem;
    }
}